.footer{
    width: 100%;
    max-width: 1024px;
}
.fLists{
    width: 100%;
    display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}
.fList{
    list-style: none;
    cursor: pointer;
}
.fListItem{
    padding: 0;
    margin-bottom: 10px;
    color: #003580;
}
.fText{
    width: 100%;
    background-color: #003580;
    color: white;
    text-align: center;
    padding: 3px;
}